html, body { margin: 0px; padding: 0px; width: 100%; background: #000000!important;}
ul.ul_css { list-style-type: none; padding: 0px; margin: 0px; }
ul.ul_css li { padding-left: 15px; }
ul.ul_css li a { color: #f8d67f; font-size: 24px; text-decoration: none; }

h3.ttl {padding: 10px;}
.text-justify {padding: 10px;}
.text-justify img {text-align: center;}

.news_block {position: relative;}
.news_block .ttl { background-color: #facd21; color: #000000; }
.news_block .text1 { color: #FFFFFF; }
.news_block .text2 { color: #FFFFFF; }
.news_block .img { color: #FFFFFF; }
.slide {position: absolute; top: 0; left: 0;}

table.tbl1 {border-collapse: collapse; width: 100%;}
table.tbl1 td {height: 30px; vertical-align: middle; padding: 0px 16px; border-bottom: 1px solid #ccc;}
table.tbl1 td a {font-weight: bold;}
.container {position: relative; border-top: 1px solid #000000; background-color: #FFFFFF;}
a {color: #E8CB85;}
.header_block {position: relative; text-align: center; margin: 5px auto 0px; }
.header_block .header_div {position: relative; background-color: #000000;border-bottom: 1px solid #FFFFFF;padding-bottom: 10px;}
.footer_block {background-color: #3B3B3B; border-top: solid #5E5E5E 1px;}

li.info {list-style-type: none; padding: 5px 15px; background: url('img/menu_border.png') repeat-x bottom;}
li.info a {color: #000000;}

li.info2 {list-style-type: none; padding: 15px; border-bottom: 1px solid #e5e5e5;}
li.info2 a {color: #000000;}
li.last {border-bottom: none!important;}

#container {background: url('img/startline.png') repeat-x top #F2F2F2; padding: 0px;}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.itemHolder {box-shadow: 0px 2px 5px rgba(1, 20, 0, 0.2); margin-bottom: 0px; list-style-type: none; padding: 10px 10px; border-bottom: 1px solid #DEDEDE;}
.itemHolder a {color: #8C2300;}
.itemHolder a:hover {color: #D90000;}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }