<style>
.contact_tbl {border-collapse: collapse;width:100%; margin: 20px 0px;}
.contact_tbl th{text-align:left; padding: 5px 10px;}
.contact_tbl td{padding: 5px 12px;}
</style>
<div id="container" class="container" style="background: #f2f2f2;">
	<table class="contact_tbl">
		<tr>
			<th translate="CONTACTS_ADMIN_OFFICE"></th>
		</tr>
		<tr>
			<td>Suite 1, Second Floor,</td>
		</tr>
		<tr>
			<td>Sound and Vision House Francis Rachel Str. Victoria,</td>
		</tr>
		<tr>
			<td>Mahe Seychelles</td>
		</tr>
		<tr>
			<td>Tel.: +442081330653</td>
		</tr>
		<tr>
			<td>e-Mail: info@emgoldex.com</td>
		</tr>
	</table>
	<table class="contact_tbl">
		<tr>
			<th>Gold provider: GLOBAL SWISS TRADE SA</th>
		</tr>
		<tr>
			<td>Registration number: CH-660.3.048.013-9</td>
		</tr>
		<tr>
			<td>MONT- BLANC BUSINESS CENTRE</td>
		</tr>
		<tr>
			<td>Rue de Chantepoulet 1</td>
		</tr>
		<tr>
			<td>1201 Geneva, Switzerland</td>
		</tr>
	</table>

	<table class="contact_tbl">
		<tr>
			<th translate="CONTACTS_CORESPOND_ADRES"></th>
		</tr>
		<tr>
			<td>Singel 540</td>
		</tr>
		<tr>
			<td>Amsterdam</td>
		</tr>
		<tr>
			<td>1017 AZ</td>
		</tr>
		<tr>
			<td>Netherlands</td>
		</tr>
	</table>
	
	<table class="contact_tbl">
		<tr>
			<th translate="CONTACTS_DEPORT_MARKETING"></th>
		</tr>
		<tr>
			<td>e-Mail: marketing@emgoldex.com</td>
		</tr>
	</table>

	<table class="contact_tbl">
		<tr>
			<th translate="CONTACTS_DELIVERY_STORAGE"></th>
		</tr>
		<tr>
			<td>e-Mail: lagerung@emgoldex.com</td>
		</tr>
	</table>
</div>