<div class="header_block">
	<div class="container header_div">
		<div ng-show="headerVar.isMenu" style="position: absolute; left: 5px; top: 13px; cursor: pointer;" data-template="templates/left_menu.html" data-title="Menu" data-placement="left" data-animation="am-slide-left" bs-aside="aside" data-container="body">
			<span style="color: #FFFFFF; font-size: 28px;" class="glyphicon glyphicon-list"></span>
		</div>
		<div ng-show="headerVar.isBack" backbutton="" style="position: absolute; left: 5px; top: 13px; cursor: pointer;">
			<span style="color: #FFFFFF; font-size: 28px;" class="glyphicon glyphicon-chevron-left"></span>
		</div>
		<a href="#/"><img src="img/EmgoldexLogo_international.png"/></a>
	</div>
</div>