<div class="container">
	<h2>
		<a class="btn btn-primary btn-lg btn-block" ng-show="loggined" href="#/profile/" translate="MENU_PROFILE"></a>
		<a class="btn btn-primary btn-lg btn-block" href="#/presentation/" translate="PRESENTATION"></a>
		<a class="btn btn-primary btn-lg btn-block" href="#/news/"><span translate="NEWS"></span></a>
		<a class="btn btn-primary btn-lg btn-block" href="#/lang/" translate="CHANGE_LN"></a>
		<a class="btn btn-primary btn-lg btn-block" ng-show="!loggined" href="#/login/" translate="LOG_IN"></a>
		<a class="btn btn-primary btn-lg btn-block" ng-show="loggined" href="#/logout/" translate="LOG_OUT"></a>
	</h2>
</div>